.menu{
    width: 20%;
    max-width: 20%;
    min-height: 100vh;
    background-color: rgb(18, 18, 18);
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-movil{
    color: wheat;
    display: none;
}
.logo{
    width: 100%;
}
.wrapper-opciones{
    /* background-color: blue; */
    width: 100%;
    margin: 3rem 0;
    /* min-height: 100vh; */
}
.opciones-user{
    /* background-color: lightcoral; */
    width: 100%;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1;
    color: green;
}
.wrapper-explorar{
    /* background-color: beige; */
    width: 100%;
    margin: 1rem 0;
}
.explorar{
    /* background-color: aquamarine; */
    font-size: 1.2rem;
    line-height: 1;
    color: lightgray;
}
.ul-wrapper-opciones2{
    /* background-color: blueviolet; */
    width: 100%;
    min-height: 50vh;
    /* padding: 1rem; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: start;
}
.opciones-li{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.li-img{
    width: 10%;
}
.li-span{
    width: 100%;
    font-size: 1rem;
    color: lightgray;
}

@media(max-width:800px){
    .explorar , .li-span{
        font-size: .8rem;
    }
}
@media(max-width:600px){
    .menu{
        display: none;
    }
    /* .menu-movil{
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        z-index: 10;
    } */
}