.main{
  width: 100%;
  max-width: 5000px;
  min-height: 100vh;
  margin: auto;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: start;
}